# Frontend

# dependencies
Frontend/node_modules
Frontend/.pnp
Frontend/.pnp.js
Frontend/src/client_secret.json
Frontend/src/googleCredentials.js

# testing
Frontend/coverage

# production
Frontend/build

# misc
Frontend/.DS_Store
Frontend/.env.local
Frontend/.env.development.local
Frontend/.env.test.local
Frontend/.env.production.local

Frontend/npm-debug.log*
Frontend/yarn-debug.log*
Frontend/yarn-error.log*



#Backend

# compiled output
Backend/dist
Backend/node_modules

# Logs
logs
Backend/*.log
Backend/npm-debug.log*
Backend/pnpm-debug.log*
Backend/yarn-debug.log*
Backend/yarn-error.log*
Backend/lerna-debug.log*

# OS
Backend/.DS_Store

# Tests
Backend/coverage
Backend/.nyc_output

# IDEs and editors
Backend/.idea
Backend/.project
Backend/.classpath
Backend/.c9/
Backend/*.launch
Backend/.settings/
Backend/*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json